<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>AMP-API管理平台</title>
    <!-- rev-hash -->
<link rel="stylesheet" href="/dist/css/amp.min.css?v=da7fcd2b25f55df1be62539ba4238c6f"/>
<!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>

<body>
    <div id="app"></div>
    <!-- rev-hash -->
<script src="/dist/js/vendor.min.js?v=8c1fd09f3e342ef786f8676559ae36eb"></script>
<script src="/dist/js/amp.min.js?v=c0156699185deee13e9410dad2431891"></script>
<!-- end -->
</body>

</html>
