<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>AMP-API管理平台</title>
    <!-- rev-hash -->
    <link rel="stylesheet" href="/dist/css/amp.min.css?v=e02da24d041a7321df66ecd31a391088" />
    <!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>

<body>
    <div id="app"></div>
    <!-- rev-hash -->
    <script src="/dist/js/vendor.min.js?v=9eab9851c00388fb36231d95bcd43053"></script>
    <script src="/dist/js/amp.min.js?v=f49ce7501115f44e1a0b3930e7d939e9"></script>
    <!-- end -->
</body>

</html>
