<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>AMP-API管理平台</title>
    <!-- rev-hash -->
    <link rel="stylesheet" href="/dist/css/amp.min.css?v=a3a0eeea7acfff1ad96229b6e444bc37" />
    <!-- end -->
    <link rel="shortcut icon" href="/dist/img/favico.ico" type="image/x-icon">
</head>

<body>
    <div id="app"></div>
    <!-- rev-hash -->
    <script src="/dist/js/vendor.min.js?v=fffd4f4e49e5abe3979efba536db6629"></script>
    <script src="/dist/js/amp.min.js?v=c14a4518c433cc9a4894a320eded5431"></script>
    <!-- end -->
</body>

</html>
