/* 定位 */

.vertical_center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.horizontal_center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

.all_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}


/* 过度 */

.transition {
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
}

.bounce-transition {
    opacity: 1;
}

.bounce-enter, .bounce-leave {
    opacity: 0;
}


/* 主容器 布局 */
.main_con {
    width: 98%;
    height: 100%;
    position: fixed;
    left: 1%;
    right: 1%;
    top: 0;
    margin-left: 270px;
    margin-top: 59px;
    border-radius: 4px;
    padding-right: 270px;
    box-sizing: border-box;
    padding-bottom: 71px;
    overflow: hidden;
    background-image: url('/dist/img/noisy.png');
}
.main_con .conent_list{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    position: relative;
    height: 100%;
    overflow: auto;
}

.main_con .conent_list .top{
    width: 100%;
    position: absolute;
    height: 55px;
    top: 0;
    background-color: rgba(153,242,243,0.2);
}

.main_con .conent_list .middle{
    width: 100%;
    box-sizing: border-box;
    height: ~"calc(100% - 110px)";
    position: relative;
    overflow: auto;
    margin-top: 55px;
}
.main_con .conent_list .middle::-webkit-scrollbar {
    width: 0px;
}

.main_con .conent_list .bottom{
    height: 55px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(153,242,243,0.2);
}

/* 滚动条样式 */
// ::-webkit-scrollbar-track {
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//     border-radius: 10px;
//     background-color: rgba(0, 0, 0, 0)
// }

::-webkit-scrollbar {
    width: 0px;
    background-color: rgba(0, 0, 0, 0);
}

// ::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    // background-color: rgba(0, 0, 0, 0.2);
// }
