/* 详情页面样式 */


.detail{
	box-sizing: border-box;
	padding: 0 15px;
	.item{
		p.title{
			margin-top: 30px;
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: bold;
			line-height: 26px;
		}
		span{
			color: #eee;
			font-size: 14px;
			line-height: 26px;
		}
	}
}